@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

.rdrMonth {
  width: 100% !important;
}

.rdrCalendarWrapper {
  font-size: 16px !important;
  width: 100% !important;
}

/* Custom styles for CategoryBox */
.tab {
    margin-top: -1rem;
      /* Adjusted to match overlapping effect */
      transform: scaleY(-1);
      /* Flip tabs upside down */
      border: 1px solid #ddd;
      /* Border styling */
      border-radius: 12px 12px 0 0;
      /* Rounded corners at the top */
      padding: 16px 32px;
      /* Adjusted padding to match size */
      background-color: #f0f0f0;
      /* Background color */
      cursor: pointer;
      width: 200px;
      /* Assumed width to match size */
      text-align: center;
      /* Center the text within the tab */
  }

.tab.active {
    border-color: #333;
      /* Active tab border color */
      background-color: #fff;
      /* Active tab background color */
  }

.tab .label {
  margin-left: 10px;
}

.label {
  transform: scaleY(-1);
    /* Flip label text to display right-side up */
    font-size: 1rem;
    /* Adjusted font-size to match */
  }
  
    .tabs-container {
      display: flex;
      gap: 1rem;
      /* Adjust the gap to match distance between tabs */
      justify-content: center;
      /* Center the tabs */
    }
