@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

.rdrMonth {
  width: 100% !important;
}

.rdrCalendarWrapper {
  font-size: 16px !important;
  width: 100% !important;
}

/* Custom styles for CategoryBox */
.tab {
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  margin-top: 0;

  clip-path: polygon(
  10% 12%,
    90% 12%,
    100% 100%,
    0% 100%
  );
  border: 1px solid #ddd;
  padding: 16px 32px;
  background-color: #f0f0f0;
  cursor: pointer;
  width: 220px;
  text-align: center;
  position: relative;
  margin-left: -60px;
  
  /* Adjust this value to achieve the desired overlap */
  z-index: 10;
  background: white;
    /* Ensure there's a background */
}

.tab:first-child {
  margin-left: 5px;
  /* Reset the negative margin for the first tab */
}

.tab.active {
  border-color: #333;
  background-color: #fff;
  z-index: 40;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  /* Ensure active tab is on top */
}

.tab .label {
  margin-left: 10px;
}

.label {
  font-size: 16px;
  margin-top: 5px;
  
  
}

.tabs-container {
  transition: borderTopColor 0.3s ease-in-out;
  display: flex;
  justify-content: center;
}

