@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

.rdrMonth {
  width: 100% !important;
}

.rdrCalendarWrapper {
  font-size: 16px !important;
  width: 100% !important;
}

/* Custom styles for CategoryBox */

.tab {
  display: block;
  float: right;
  padding: 14px 28px 8px;
  background-color: #FFF;
  margin-right: 46px;
  z-index: 2;
  position: relative;
  text-transform: uppercase;
  font: 600 13px/20px roboto, "Open Sans", Helvetica, sans-serif;

  transition: all 250ms ease;
}
.tab:before,
.tab:after {
  display: block;
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 44px;  
  background-color: #FFF;
  transition: all 250ms ease;
}
.tab:before {
  right: -24px;
  transform: skew(30deg, 0deg);
  box-shadow: rgba(0,0,0,.1) 3px 2px 5px, inset rgba(255,255,255,.09) -1px 0;
}
.tab:after {
  left: -24px;
  transform: skew(-30deg, 0deg);
  box-shadow: rgba(0,0,0,.1) -3px 2px 5px, inset rgba(255,255,255,.09) 1px 0;
}
.tab:hover,
.tab:hover:before,
.tab:hover:after {
  background-color: #F4F7F9;
  color: #444;
}
.tab.active {
  background-color: #000!important;
  color: #fff !important;
  z-index: 3;
}

.tab.active:before,
.tab.active:after {
  background-color: #000 !important;
}

.tab.active,
.tab:before,
.tab:after {
  background-color: #000;
  color: #fff;
}


/*----- Round Tabs -----*/
.tab.round{
  border-radius: 8px 8px 0 0;
}
.tab.round:before {
  border-radius: 0 8px 0 0;
}
.tab:after {
  border-radius: 8px 0 0 0;
}

/* ... existing CSS ... */

.tab.nails {
  background-color: #c49a6c;
}
.tab.nails:before,
.tab.nails:after {
  background-color: #c49a6c;
}

.tab.barber {
  background-color: #b08b61;
}
.tab.barber:before,
.tab.barber:after {
  background-color: #b08b61;
}

.tab.salon {
  background-color: #9d7b56;
}
.tab.salon:before,
.tab.salon:after {
  background-color: #9d7b56;
}

.tab.massage {
  background-color: #896c4c;
}
.tab.massage:before,
.tab.massage:after {
  background-color: #896c4c;
}

.tab.eyebrows {
  background-color: #765c41;
}
.tab.eyebrows:before,
.tab.eyebrows:after {
  background-color: #765c41;
}

.tab.facial {
  background-color: #624d36;
}
.tab.facial:before,
.tab.facial:after {
  background-color: #624d36;
}

.tab.trainer {
  background-color: #4e3e2b;
}
.tab.trainer:before,
.tab.trainer:after {
  background-color: #4e3e2b;
}

.tab.flex {
  background-color: #3b2e20;
}
.tab.flex:before,
.tab.flex:after {
  background-color: #3b2e20;
}

/* ... remaining CSS ... */


.switch-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 100px;
  /* Optional: add some padding to ensure the switch doesn't touch the edge of the container */
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked+.slider {
  background-color: #c49a6c;
}

input:checked+.slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}